<div class="show-recipe">
  <h2 class="show-h2"><%= @recipe.name %></h2>
 
  <div class="recipe-show-d1">
    <p class="recipe-show-prep-t">Prepration time: <%= @recipe.preparation_time %></p>
    <p class="show-publc">Public</p>

    <% if current_user.id == @recipe.user.id %> 
    <%= button_to recipe_path(@recipe.id), :method => :patch, class: "public-btn" do %>
      <% if @recipe.public %>
        <i class="fa fa-toggle-on" style="font-size:48px;color:green"></i>
      <% else %>
        <i class="fa fa-toggle-off" style="font-size:48px;color:green"></i>
      <% end %>
    <% end %>
    <% end %>
  </div>

     <p class="cook-time">Cooking time: <%= @recipe.cooking_time %></p>
     <p class="steps">Steps goes here...</p>

   <div class="content-between">
   <% if current_user.id == @recipe.user.id %> 
   <button class='shopping-list'>
   <%= link_to 'Generate shooping list', shopping_lists_path, class: "shopping-list" %>
 </button> 
   <button class='addingredients'>
   <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe.id), class: "addingridients" %>
 </button> 
 <% end %>
   </div>

   <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td scope="row"><%= recipe_food.food.name %> </td>
        <td><%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %> </td>
        <td>  $<%= recipe_food.food.price*recipe_food.quantity %></td>
        <td class="show-btns"> 
        <% if can? :destroy, @recipe %>
        <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe.id, recipe_food.id), class: "show-modify-btn" %> 
          <%= button_to "Remove", recipe_recipe_food_path(@recipe.id, recipe_food.id), :method => :delete, class: "show-dlt-btn" %> 
          <% end %>
        </td>
      </tr>
      <%end %>
   </tbody>
  </table>

</div>
